<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Data.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KDTToeic"
        tools:targetApi="31">
        <activity
            android:name=".DetailsAnswerActivity"
            android:exported="false" />
        <activity
            android:name=".NoteAddActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NoteEditActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.li*-b_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NoteActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FillSentenceExam"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PracFillSentenceActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PracticeActivity"
            android:exported="false" />
        <activity
            android:name=".PracticeDesPageActivity"
            android:exported="false" />
        <activity
            android:name=".WaitingScreenActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestDesPageActivity"
            android:exported="false"></activity>
        <activity
            android:name=".TestActivity"
            android:exported="false"></activity>
        <activity
            android:name=".ResultTestActivity"
            android:exported="false"></activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
        <activity
            android:name=".VocabCatActivity"
            android:exported="false" />
        <activity
            android:name=".WordVocabCatActivity"
            android:exported="false"></activity>
        <activity
            android:name=".WordDetailActivitty"
            android:exported="false"></activity>
        <activity
            android:name=".HistoryActivity"
            android:exported="false"></activity>
        <activity
            android:name=".HistoryDetailsActivity"
            android:exported="false"></activity>
    </application>

</manifest>